/* body{
    font-family: "Sofia";
    font-size: 22px;
}

.div1{
    background-color: pink;
    
    width: 200px;
    height: 50px;
    z-index: 100;
    float: right;
    clear: left;
    overflow: auto;
}

h1{
    
    z-index: 1000;
    float: left;
}

.p1{
    float: right;
    left: 50px;
    
}

.p2{
    clear: both;
} */

/* body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}

img::before {
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    background: purple;
}

p::before {
    content: '';
    background: red;
    display: block;
    width: 10px;
    height: 10px;
}

p::after {
    content: '';
    background: red;
    display: block;
    width: 10px;
    height: 10px;
}
 */

 body{
     margin: 0;
     padding: 0;
 }

 .container{
     text-align: center;
     margin-top: 360px;
     /*  background: yellow;*/
 }

 .btn{
     border: 1px solid #3438db;
     background: none;
     padding: 10px 20px;
     font-size: 22px;
     font-family: "Sofia";
     cursor: pointer;
     margin: 10px;
     position: relative;
     overflow: hidden;
 }

 .btn1,.btn2{
     color: #3498db;
 }

 .btn3,.btn4{
    color: #fff;
}

.btn1:hover,.btn2:hover{
    color: #fff;
}

.btn3:hover,.btn4:hover{
    color: #3498db;
}

.btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    background: #3498db;
    z-index: -1;
    transition: 0.8s;
}

.btn1::before, .btn3::before{
    top: 0;
    border-radius: 0 0 50% 50%;
}
.btn2::before, .btn4::before{
    bottom: 0;
    border-radius: 50% 50% 0 0;
}

.btn3::before, .btn4::before{
    height: 100%;
}

.btn1:hover::before, .btn2:hover::before{
    height: 100%;
}

.btn3:hover::before, .btn4:hover::before{
    height: 0%;
}